<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Sopa de Caracol</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/Sopa_de_Caracol.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Deliciosa sopa preparada con Aceite de oliva virgen, anis, chile, romero, caracoles,
                        naranja, jengibre</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Sopa Oriental</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/Sopa_oriental.jpg" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Los nutrientes esenciales son vitales para una buena vida y salud. Dentro de los
                        nutrientes encontramos: macro nutrientes y micro nutrientes. Sopita KC</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Sopa de Pollo</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/Sopa_de_pollo.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">El caldo de pollo es una sopa.​ A menudo se sirve con trozos de carne o con granos
                        de arroz o cebada, pasta, zanahoria, papa amarilla, apio, cebolla blanca, etc.​ Se considera
                        también un remedio casero contra los enfriamientos y los catarros y la rinitis.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Sancocho</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/sancocho.jpg" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">El sancocho es una sopa hecha con carnes, tubérculos, verduras y condimentos, típica
                        de países latinoamericanos como Colombia, Ecuador, República Dominicana, Panamá, Puerto Rico,
                        Trinidad y Tobago y Venezuela.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Chaulafan de pollo</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/chaulafan_pollo.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">El chaulafan de pollo es la versión ecuatoriana del arroz frito chino preparado con
                        arroz, pollo, tocino, cebolla, ajo, pimientos, arvejas, zanahorias, huevos revueltos, pasas,
                        especias y hierbas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Arroz Salteado</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/Arroz_Salteado.jpg" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Una forma fácil de identificar cuale son los cereales integrales es por su color
                        café. Entre estos están la quinua, cebada, avena, trigo entero, arroz integral, entre otros.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Arroz frito estilo Thai</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/arroz_frito_thai.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Ácido, dulce, salado y picante son los cuatro pilares de la comida thai, una fusión
                        que explota en la boca. Todos sus platos son una experiencia culinaria que nadie debería dejar
                        de disfrutar.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Arroz con Quinua</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/arroz_quinua.jpg" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">La quinua, no solo tienen un delicioso sabor sino múltiples beneficios para la
                        salud. Esta semilla proviene de los Andes y es rica en vitaminas y minerales.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Chaulafan mixto</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/chaulafan_mixto.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Este delicioso chaulafán mixto especial se prepara con arroz, pollo, carne de cerdo,
                        camarones, vegetales, huevo, salchicha</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Natilla de manjar</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/natilla_manjar.jpg" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Tanto el manjar blanco como la natilla son pastas bastante dulce, que se elabora en
                        base a leche de vaca y azúcar. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Corona Blanca con frutas</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/corona_blanca.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">El kiwi forma parte del grupo de frutas con mayor contenido de vitamina C. Incluso
                        tiene más vitamina C que el limón o la naranja.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Crema de banano</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/crema_banano.jpg" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Los bananos son ricos en potasio, un mineral que ayuda a equilibrar el agua del
                        cuerpo y favorece la eliminación de líquidos. Es muy rico también en hidratos de carbono, por lo
                        que se recomienda consumir 1 unidad al día.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">Cake de Zanahoria</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="../../../assets/img/Products/cake_zanahoria.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Pastel de zanahoria y piña con frutos secos . No te resistas a este delicioso postre
                        ¡Lo amarás!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <br />
                        <span class="section-heading-lower">Seleccione un Menu</span>
                    </h2>
                    <p class="address mb-5">
                        <em>
                            <strong>
                                <!-- <asp:Button ID="Button1" runat="server" Text="DINNER MENU" CssClass="btn-primary"
                                    OnClick="Button1_Click" /> -->
                                <br />
                                <br />
                                <!-- <asp:Button ID="Button2" runat="server" Text="LUNCH MENU" CssClass="btn-primary"
                                    OnClick="Button2_Click" /> -->

                            </strong>
                        </em>
                    </p>
                    <p class="address mb-5">
                        <em>
                            <strong>Restaurante Gourmet</strong>
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>Cuidamos tu comida, cuidamos de ti.</em></small>
                    </p>
                    <br />

                    <h2 class="section-heading mb-5"></h2>
                </div>
            </div>
        </div>
    </div>
</section>