<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../assets/img/bienvenidos-02.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper"><em>Solo lo mejor en tu mesa.</em></span>
                            <span class="section-heading-lower">Sobre nosotros</span>
                        </h2>
                        <p>El equipo de Gourmet, con el centro de investigación Mater Iniciativa, conforman un grupo de expedicionarios llenos de curiosidad por el Ecuador. En Gourmet somos conscientes de la necesidad de conectar, y asumimos con humildad el gran reto de conocer y re-conocer este hermoso país plagado de insumos únicos, de paisajes, de cultura y tradiciones, de historias pero, sobre todo, de aquellos que las viven y las narran.</p>
                        <p class="mb-0">
                            Nuestro equipo colaborativo trabaja arduamente por generar nexos, e intentar hacer visibles elementos que, en la vida cotidiana, no pueden ser vistos por todos. La expedición que emprendimos nuestro inicio no tiene destino ni final, sino que se centra en el constante movimiento, en la observación y el respeto de la temporalidad y la estacionalidad que la tierra nos dicta.
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/Empleados/mesero.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Mesero</span>
                    <span class="section-heading-lower">Juan Luzauza</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
                <h2 class="section-heading mb-4">
                    <span><em>Informacion del empleado</em></span>
                </h2>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Años de experiencia
                            <span class="ms-auto">2</span>
                    </li>
                </ul>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Edad
                            <span class="ms-auto">26 años</span>
                    </li>
                </ul>
                <p class="mb-0">Conocer muy bien a los clientes recurrentes de nuestro restaurante. Los comensales que frecuentan  nuestro restaurante merecen un trato preferencial. Los meseros recuerdan muy bien cuál es su plato favorito, llamarlos por su nombre, recomendarles variaciones de menú y así ellos sentirán que son importantes para tu negocio. Para esto también te puedes valer de la información que te proporcione tu software pos sobre  los platos más consumidos por tus clientes frecuentes.</p>
            </div>
            <p class="mb-5"></p>
        </div>
    </div>
</div>
<!-- -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/Empleados/Mesero2.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Mesero</span>
                    <span class="section-heading-lower">Jorge Santana</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
                <h2 class="section-heading mb-4">
                    <span><em>Informacion del empleado</em></span>
                </h2>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Años de experiencia
                            <span class="ms-auto">1</span>
                    </li>
                </ul>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Edad
                            <span class="ms-auto">28 años</span>
                    </li>
                </ul>
                <p class="mb-0">Conocer muy bien a los clientes recurrentes de nuestro restaurante. Los comensales que frecuentan  nuestro restaurante merecen un trato preferencial. Los meseros recuerdan muy bien cuál es su plato favorito, llamarlos por su nombre, recomendarles variaciones de menú y así ellos sentirán que son importantes para tu negocio. Para esto también te puedes valer de la información que te proporcione tu software pos sobre  los platos más consumidos por tus clientes frecuentes.</p>
            </div>
            <p class="mb-5"></p>
        </div>
    </div>
</div>
<!-- -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/Empleados/mesero3.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Mesero</span>
                    <span class="section-heading-lower">Carlos Suarez</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
                <h2 class="section-heading mb-4">
                    <span><em>Informacion del empleado</em></span>
                </h2>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Años de experiencia
                            <span class="ms-auto">2</span>
                    </li>
                </ul>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Edad
                            <span class="ms-auto">28 años</span>
                    </li>
                </ul>
                <p class="mb-0">Conocer muy bien a los clientes recurrentes de nuestro restaurante. Los comensales que frecuentan  nuestro restaurante merecen un trato preferencial. Los meseros recuerdan muy bien cuál es su plato favorito, llamarlos por su nombre, recomendarles variaciones de menú y así ellos sentirán que son importantes para tu negocio. Para esto también te puedes valer de la información que te proporcione tu software pos sobre  los platos más consumidos por tus clientes frecuentes.</p>
            </div>
            <p class="mb-5"></p>
        </div>
    </div>
</div>
<!-- -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/Empleados/mesero4.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Mesero</span>
                    <span class="section-heading-lower">Adrian Zambrano</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
                <h2 class="section-heading mb-4">
                    <span><em>Informacion del empleado</em></span>
                </h2>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Años de experiencia
                            <span class="ms-auto">3</span>
                    </li>
                </ul>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Edad
                            <span class="ms-auto">29 años</span>
                    </li>
                </ul>
                <p class="mb-0">Conocer muy bien a los clientes recurrentes de nuestro restaurante. Los comensales que frecuentan  nuestro restaurante merecen un trato preferencial. Los meseros recuerdan muy bien cuál es su plato favorito, llamarlos por su nombre, recomendarles variaciones de menú y así ellos sentirán que son importantes para tu negocio. Para esto también te puedes valer de la información que te proporcione tu software pos sobre  los platos más consumidos por tus clientes frecuentes.</p>
            </div>
            <p class="mb-5"></p>
        </div>
    </div>
</div>
<!-- -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/Empleados/repartidor.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Repartidor</span>
                    <span class="section-heading-lower">Steven Gonzalez</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
                <h2 class="section-heading mb-4">
                    <span><em>Informacion del empleado</em></span>
                </h2>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Años de experiencia
                            <span class="ms-auto">2</span>
                    </li>
                </ul>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Edad
                            <span class="ms-auto">29 años</span>
                    </li>
                </ul>
                <p class="mb-0">Gracias al auge del ecommerce, nuestros servicios están aumentando de popularidad. Cada vez son más las personas que solicitan las entregas a domicilio como parte fundamental de sus compras digitales (de comida u otros productos). Sin embargo, todavía existen ciertos retos que el servicio debe afrontar para responder plenamente a las demandas del mercado, más aún en lo referente a las entregas a domicilio en las áreas urbanas.</p>
            </div>
            <p class="mb-5"></p>
        </div>
    </div>
</div>
<!-- -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/Empleados/repartidor2.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Repartidor</span>
                    <span class="section-heading-lower">Alexander Quizhpe</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
                <h2 class="section-heading mb-4">
                    <span><em>Informacion del empleado</em></span>
                </h2>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Años de experiencia
                            <span class="ms-auto">2</span>
                    </li>
                </ul>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Edad
                            <span class="ms-auto">27 años</span>
                    </li>
                </ul>
                <p class="mb-0">Gracias al auge del ecommerce, nuestros servicios están aumentando de popularidad. Cada vez son más las personas que solicitan las entregas a domicilio como parte fundamental de sus compras digitales (de comida u otros productos). Sin embargo, todavía existen ciertos retos que el servicio debe afrontar para responder plenamente a las demandas del mercado, más aún en lo referente a las entregas a domicilio en las áreas urbanas.</p>
            </div>
            <p class="mb-5"></p>
        </div>
    </div>
</div>

<!-- -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/Empleados/recepcionista.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Recepcionista</span>
                    <span class="section-heading-lower">Julissa Gonzalez</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
                <h2 class="section-heading mb-4">
                    <span><em>Informacion del empleado</em></span>
                </h2>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Años de experiencia
                            <span class="ms-auto">4</span>
                    </li>
                </ul>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Edad
                            <span class="ms-auto">29 años</span>
                    </li>
                </ul>
                <p class="mb-0">Dar la bienvenida a los clientes. Debe ser presentable, amable y profesional. A veces, tiene que dar un tiempo aproximado de espera a los clientes que no hayan reservado una mesa y lidiar con aquellos que esperan impacientes en la entrada. Ademas, cuando se requiera llevar a los clientes su mesa, una vez que esta lista, invitarlos a tomar asiento y les proporcionara las cartas del menu antes de transferir el servicio.</p>
            </div>
            <p class="mb-5"></p>
        </div>
    </div>
</div>

<!-- -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/Empleados/recepcionista2.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Recepcionista</span>
                    <span class="section-heading-lower">Lady Cueva</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
            <div class="cta-inner bg-faded text-center rounded">
                <h2 class="section-heading mb-4">
                    <span><em>Informacion del empleado</em></span>
                </h2>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Años de experiencia
                            <span class="ms-auto">2</span>
                    </li>
                </ul>
                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <li class="list-unstyled-item list-hours-item d-flex">Edad
                            <span class="ms-auto">29 años</span>
                    </li>
                </ul>
                <p class="mb-0">Dar la bienvenida a los clientes. Debe ser presentable, amable y profesional. A veces, tiene que dar un tiempo aproximado de espera a los clientes que no hayan reservado una mesa y lidiar con aquellos que esperan impacientes en la entrada. Ademas, cuando se requiera llevar a los clientes su mesa, una vez que esta lista, invitarlos a tomar asiento y les proporcionara las cartas del menu antes de transferir el servicio.</p>
            </div>
            <p class="mb-5"></p>
        </div>
    </div>
</div>