<section class="page-section clearfix">
    <div class="container">s
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/inicio.jpg" alt="inicio"  />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Descubra los sabores de Ecuador</span>
                    <span class="section-heading-lower"></span>
                </h2>
                <p class="mb-3">Inspirados en la riqueza de nuestros ingredientes, ofrecemos una cocina de autor altamente creativa, basada en un trabajo de investigación de sabores, aromas, texturas y técnicas ancestrales que hacen homenaje a la cocina ecuatoriana.Las recetas las hemos desarrollado trabajando de la mano con el productor en el campo, conociendo el origen de sus sabores. Para nosotros es importante saber de dónde provienen nuestros productos.Somos un equipo de profesionales que busca brindar una experiencia integral de hospitalidad que sorprenderá todos sus sentidos.</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">¡Visítanos hoy! </a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nuestro compromiso</span>
                        <span class="section-heading-lower">Con usted</span>
                    </h2>
                    <p class="mb-0">Cuando ingrese a nuestro restaurante, nos dedicamos a brindarle un servicio amable, un ambiente acogedor y, sobre todo, excelentes productos elaborados con ingredientes de la más alta calidad. Si no está satisfecho, háganoslo saber y haremos todo lo posible para arreglar las cosas!</p>
                </div>
            </div>
        </div>
    </div>
</section>
