<div class="sidebar close">
    <div class="logo-details">
        <i>
            <img src="../../../../assets/img/restau46.png" alt="profileImg">
        </i>
        <span class="logo_name">Restaurante Gourmet</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="MenuPLato.aspx">
                <i class='bx bxs-user-badge'></i>
                <span class="link_name">Menu</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Menu</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bxs-spreadsheet'></i>
                    <span class="link_name">Administrar</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Administrar</a></li>
                <li><a href="FWCliente.aspx">Cliente</a></li>
                <li><a href="FWEmpleado.aspx">Empleado</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bxs-book-add'></i>
                    <span class="link_name">Ingredientes</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Ingredientes</a></li>
                <li><a href="FWProveedor.aspx">Proveedor</a></li>
                <li><a href="FWIngredientes.aspx">Ingredientes</a></li>
            </ul>
        </li>
        <li>
            <a href="FWIdentificacion.aspx">
                <i class='bx bxs-id-card'></i>
                <span class="link_name">Identificacion</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Identificacion</a></li>
            </ul>
        </li>
        <li>
            <a href="WFExtra.aspx">
                <i class='bx bxs-cart'></i>
                <span class="link_name">Extras</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Extras</a></li>
            </ul>
        </li>
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="../../../../assets/img/administa.png" alt="profileImg">
                </div>
                <div class="name-job">
                    <div class="profile_name">Conectado</div>
                    <div class="job">Administrador</div>
                </div>
                <a href="Inicio.aspx">
                <i class='bx bx-log-out'></i>
                <span class="link_name"></span>
            </a>
            </div>
        </li>
    </ul>
</div>